.container{
    justify-content: center;
    padding: 20px;
}
.subcontainer input{
    width: calc(300px - 5px - 5px);
    padding: 5px;
    margin: 0 auto;
    font-size: 16px;
    cursor: pointer;
}
.button-sig button{
    width: calc(300px - 5px - 5px);
      border: 0;
      border-radius: 3px;
      background-color:rgb(30, 89, 112);
      color: white;
      font-weight: bold;
      padding: 5px;
      width: 100%;
      transition: all 0.3s ease-out;
}